.body-bg{
    background: url(../img/bg_building.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    position: relative;
    color: white;
  };
  input[type="radio"]:checked{
background-color: green;
  }