.body-bg{
    background: green;
    
  };
  input[type="radio"]:checked{
background-color: green;
  };
  .background{
    background: url(../img/download.jpeg);
  };
  .rounded{
    border-radius: 20%;
  }